<div class="section " id="section3">
	<div class="col-12">
		<div class="box">
			<div class="col-4 col-eg-1">
				<div class="box">
					<h1>h1. Bootstrap heading</h1>
					<h2>h2. Bootstrap heading</h2>
					<h3>h3. Bootstrap heading</h3>
					<h4>h4. Bootstrap heading</h4>
					<h5>h5. Bootstrap heading</h5>
					<h6>h6. Bootstrap heading</h6>
				</div>
			</div>
			<div class="col-8">
				<div class="box">
					<h1 class="secondary">h1. Bootstrap heading</h1>
					<h2 class="secondary">h2. Bootstrap heading</h2>
					<h3 class="secondary">h3. Bootstrap heading</h3>
					<h4 class="secondary">h4. Bootstrap heading</h4>
					<h5 class="secondary">h5. Bootstrap heading</h5>
					<h6 class="secondary">h6. Bootstrap heading</h6>
					<br>
					<h6 class="secondary bold">h6. Bootstrap heading</h6>
					<h6 class="secondary normal">h6. Bootstrap heading</h6>
					<h6 class="secondary light">h6. Bootstrap heading</h6>
				</div>
			</div>	
		</div>
	</div>
</div>